<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <img src="https://source.unsplash.com/random/?dog" alt="Dog" class="dog">
    <img src="https://source.unsplash.com/random/?parrot" alt="Parrot" class="parrot">
    <%= yield %>
  </body>
</html>
